.macth-detail {

    padding: 30px 10px;
    text-align: center;
    border: 1px solid rgba(194, 192, 192, 0.788);
    border-radius: 5px;
}

.flag {
    display: flex;
    justify-content: space-between;
}
.vs {
    font-size: 20px;
    font-weight: 700;
    padding: 17px;
}

.macth-title {
    padding: 10px 0px;
}
